.login-header
{
    color: blue
}

.layout{
    justify-content: center;
}

.box1 {
    display: flow-root;
}

span.box3 {
    color: blueviolet;
    font-size: larger;
    font-style: oblique;
    align-self: center;
    margin-left: 141px;
    
}
input.ng-invalid.ng-touched{
    border: 1px red solid;
}