.login-header
{
    color: blue
}

.layout{
    justify-content: center;
}

.logbtn {
    text-align: center;
}

button.btn.btn-primary {
    width: 100px;
}

p.box3 {
    color: blueviolet;
    font-size: larger;
    font-style: oblique;
    text-align: center;
    margin-top: 10px;
    
}
input.ng-invalid.ng-touched{
    border: 1px red solid;
}

.header {
    text-align: center;
    color: royalblue;
    font-size: xx-large;
    font-style: bold;
    font-family: -webkit-body;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 30px;
}