<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" class="form-control" id="email"  ngModel
                     name="email">
                </div>
                <div class="from-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="pass"  ngModel 
                    name="pass">
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>